<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow, noarchive, noodp, NoImageIndex, noydir">
    <title>Firefly III Data Importer Maintenance Mode</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <base href="{{ route('index') }}/">

    {# libraries #}
    <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" nonce="{{ JS_NONCE }}">

</head>
<body class="container">
<div class="row mt-3">
    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
        <h1><strong>Firefly III</strong> Data Importer</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
        <h3 class="text-info">The Firefly III Data Importer is in maintenance mode.</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
        <p>
            This should only take a few moments. If you had an import running, you may have to start over. My apologies.
        </p>
        <p>
            Please check back in a second!
        </p>
    </div>
</div>
</body>
</html>
