{# update a variable #}

{% if 'disabled' == information.import_account.status %}
    {% set errorAccounts = errorAccounts+1 %}
{% endif %}
{% if 'no-info' == information.import_account.status %}
    {% set warningAccounts = errorAccounts+1 %}
{% endif %}
{% if 'nothing' == information.import_account.status %}
    {% set warningAccounts = errorAccounts+1 %}
{% endif %}
{% if 'no-balance' == information.import_account.status %}
    {% set warningAccounts = errorAccounts+1 %}
{% endif %}
<tr>
    <td>
        {% include './import/004-configure/partials/account-title-generic' with information %}
    </td>
    <td>
        {% if 'disabled' != information.import_account.status %}
            {% if(information.firefly_iii_accounts|length!=0) %}&rarr;{% endif %}
        {% endif %}
    </td>
    <td>
        {# TODO this is one of those things to merge into one generic type #}
        {% if(information.firefly_iii_accounts|length==0) %}
            <span class="text-danger">Cannot be imported</span>
        {% endif %}
        {% if(information.firefly_iii_accounts|length>0) %}
            {% include './import/004-configure/partials/ff3-account-generic' with information %}
        {% endif %}
    </td>
</tr>
