{% extends "./layout/default" %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title text-danger">Error :(</h5>
                        <p class="card-text">
                            The Personal Access Token or the Client ID is invalid.
                        </p>
                        <p class="card-text">
                            Either you added the wrong value to the <code>.env</code> file or your Docker
                            parameters (<code>-e</code>) are wrong.

                            The error returned is:
                        </p>
                        <p class="card-text text-info">
                            {{ errorMessage }}
                        </p>
                        <p class="card-text">
                            This error can be a bit cryptic, and you can find common errors on <a
                                href="https://docs.firefly-iii.org/references/faq/data-importer/import/" target="_blank">
                                this page in the documentation</a>.
                            Please refresh the page to validate your Personal Access Token again.
                        </p>
                        <p><strong>Remember!</strong></p>
                        <ul>
                            <li>Do not use the "command line token". That's the wrong one.</li>
                            <li>Do not use the "APP_KEY". That's the wrong one.</li>
                            <li>Use a public client ID.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <p>
    </p>
{% endblock %}
