parameters:
  universalObjectCratesClasses:
    - Illuminate\Database\Eloquent\Model
  # TODO: slowly remove these parameters and fix the issues found.
  reportUnmatchedIgnoredErrors: false
  checkGenericClassInNonGenericObjectType: false  # remove this rule when all other issues are solved.
  ignoreErrors:
  # TODO: slowly remove these exceptions and fix the issues found.
    - '#is not allowed to extend#'
    - '#is neither abstract nor final#'
    - '#has a nullable return type declaration#'
    - '#with a nullable type declaration#'
    - '#with null as default value#'
  paths:
    - ../app
    - ../database
    - ../routes
    - ../config
    - ../bootstrap/app.php

  # The level 8 is the highest level. original was 5
  # TODO: slowly up the level and fix the issues found.
  level: 1
